fieldset {
    background-color: rgba(169, 168, 171, 0.3);
    border-radius: 4px;
}

legend {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
*/
}

.card {
    background-color:#F8F9FA;
}

.list-group-item {
    border:0px;
}

.list-group-item-action {
    color: #000000;
}

.float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #FFF;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100
}

.my-float {
    margin-top: 22px;
}

.row {
    margin-bottom: 5px;
    margin-top: 5px;
}

.accordion {
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.custom-switch {
    margin-left: 15px;
}

#cargaRapida {
    max-width: 800px;
    height: auto;
}

.table {
    margin-left: 10px;
}

ul {
    list-style: none;
    /*counter-reset: my-awesome-counter;*/
}

li {
    /*counter-increment: my-awesome-counter;*/
    margin: 0.25rem;
}

    li::before {
        content: "";
        background: #3085d6;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }

ul ul li::before {
    background: #3085d6;
}

ul ul ul ul::before {
    background: #3085d6;
}

li.nav-item.dropdown.active::before {
    content: "";
    background: #fff;
}
  