﻿<div class="form-row">
    <fieldset class="form-group col-md-12">
        <legend>Operadores</legend>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="selectSeleccion"><b>Seleccion</b></label>
                <select id="selectSeleccion" name="selectSeleccion" class="form-control">
                    <option value="" disabled>Seleccionar</option>
                    <option value="0">Selecci&oacute;n por Ruleta</option>
                    <option value="1">Selecci&oacute;n por SUS (Muestreo Universal Estoc&aacute;stico)</option>
                    <option value="2" selected>Selecci&oacute;n por Torneo Binario</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label class="font-weight-bold" for="selectCruce">Cruce</label>
                <select id="selectCruce" name="selectCruce" class="form-control">
                    <option value="" disabled>Seleccionar</option>
                    <option value="1">Cruzamiento por Punto</option>
                    <option value="0" selected>Cruzamiento Uniforme</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectReemplazo"><b>Reemplazo</b></label>
                <select id="selectReemplazo" name="selectReemplazo" class="form-control">
                    <option value="" disabled>Seleccionar</option>
                    <option value="0" selected>mu + lambda (&mu; + &lambda;)</option>
                    <option value="1">mu, lambda (&mu;,&lambda;)</option>
                    <option value="2">Generacional</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectMutacion"><b>Mutacion</b></label>
                <select id="selectMutacion" name="selectMutacion" class="form-control">
                    <option value="" disabled>Seleccionar</option>
                    <option value="0" selected>Swap</option>
                </select>
            </div>

            <div class="form-group col-md-3">

            </div>

            <div class="form-group col-md-3">
                <div id="elegirPuntos" hidden>
                    <label for="cantidadPuntos">Cantidad de puntos</label>
                    <input id="cantidadPuntos" value="1" name="cantidadPuntos" type="number" min="1" max="3" class="form-control">
                </div>
            </div>

            <div class="form-group col-md-3">
                <div id="seleccionParaReemplazo">
                    <label for="selectSeleccionReemplazo">Seleccion para reemplazo</label>
                    <select id="selectSeleccionReemplazo" name="selectSeleccionReemplazo" class="form-control">
                        <option value="" disabled>Seleccionar</option>
                        <option value="0" selected>Selecci&oacute;n por Torneo Binario</option>
                        <option value="1">Selecci&oacute;n por Ruleta</option>
                        <option value="2">Selecci&oacute;n por SUS (Muestreo Universal Estoc&aacute;stico)</option>
                        <option value="3">Selecci&oacute;n de Mu (&mu;) mejores</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">

                <div class="custom-control custom-switch">
                    <input type="checkbox" name="chbxElitismo" class="custom-control-input" id="chbxElitismo" checked>
                    <label class="custom-control-label" for="chbxElitismo">Mantener Elitismo</label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group col-md-12">
        <legend>Instancia</legend>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="elegirInstancia" class="custom-control-input" id="elegirInstancia" checked>
            <label class="custom-control-label" for="elegirInstancia">Elegir Instancia</label>
        </div>

        <div class="row align-items-center">

            <div class="form-group col-md-6">
                <div id="selectInstancia_div">
                    <label for="selectInstancia" class="font-weight-bold">Seleccione una instancia</label>
                    <select size="5" id="selectInstancia" name="selectInstancia" class="form-control">
                    </select>
                </div>
            </div>
            <!--<div class="form-group col-md-6 ">
                <input type="file" class="custom-file-input" name="archivoInstancia" id="archivoInstancia" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Instancia</label>
            </div>-->
            <div class="input-group form-group col-md-6" id="cargarInstancia_div">
                <span class="input-group-btn">
                    <span id="boton_examinar" class="btn btn-secondary btn-file">
                        Examinar
                        <input disabled accept="text/plain" name="archivoInstancia" type="file" id="archivoInstancia">
                    </span>
                </span>
                <input disabled readonly="readonly" placeholder="Deshabilitado" class="form-control" id="filename" name="filename" type="text">
            </div>
        </div>
    </fieldset>



    <input name="representacion" hidden type="text" value="binario" id="representacion">
    <input name="problema" hidden type="text" value="sat" id="problema">
</div>

<script src="{{ url_for('static', filename='js/Binario/B_problema_max_sat.js')}}"></script>

<script>
    $("#elegirInstancia").on("change", function () {
        var chkbox = $("#elegirInstancia").prop("checked");
        if (chkbox == true) {

            $("#boton_examinar").attr("class", "btn btn-secondary btn-file");
            $("#selectInstancia").removeAttr("disabled");
            $("#archivoInstancia").attr("disabled", true);
            $("#archivoInstancia").attr("value", "");
            $("#filename").attr("disabled", true);
            $("#filename").attr("placeholder", "Deshabilitado");

        }
        else {
            $("#boton_examinar").attr("class", "btn btn-primary btn-file");
            $("#archivoInstancia").removeAttr("disabled");
            $("#filename").removeAttr("disabled");
            $("#selectInstancia").attr("disabled", true);
            $("#filename").attr("placeholder", "Seleccione un archivo");
        }
    });


    $("#archivoInstancia").on("change", function () {
        var filename = $("#archivoInstancia").val();
        //falta hacerle split
        var nameOfFile=filename.split("\\");
        $("#filename").attr("placeholder", nameOfFile[2]);
    });

    $("#selectReemplazo").on("change", function () {
        var reemplazo = $("#selectReemplazo").val();
        if (reemplazo == "0" || reemplazo == "1") {
            $('#seleccionParaReemplazo').prop("hidden", false);
        }
        else {
            $('#seleccionParaReemplazo').prop("hidden", true);
        }
    });



    $("#selectCruce").on("change", function () {
        var cruce = $("#selectCruce").val();
        if (cruce == "1") {
            $('#elegirPuntos').prop("hidden", false);
        }
        else {
            $('#elegirPuntos').prop("hidden", true);
        }
    });

    $.ajax({
        url: '/utils/instancias_sat_binario',
        success: function (respuesta) {
            var directorios = respuesta["dir"];
            directorios.sort(function(a,b){
                return compareStrings(a,b);
            });
            $(directorios).each(function (index) {
                $('#selectInstancia').append($('<option>', { value: directorios[index], text: directorios[index] }));
            });
        },
        error: function () {
            console.log("No se ha podido obtener la información");
        }
    });


</script>


