﻿<fieldset class="form-group col-md-12">
    <legend>Valores Iniciales</legend>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="poblacion_inicial"><b>Tamaño de población (&mu;)</b></label>
            <input name="poblacion_inicial" value="100" required type="number" class="form-control" id="poblacion_inicial" min="1">
        </div>
        <div class="form-group col-md-2">
            <label for="probabilidad_cruce"><b>Prob. de cruce</b></label>
            <input name="probabilidad_cruce" value="0.65" type="number" class="form-control" id="probabilidad_cruce" min="0.0001" max="0.9999" step="0.0001">
        </div>
        <div class="form-group col-md-2">
            <label for="probabilidad_mutacion"><b>Prob. de mutación</b></label>
            <input name="probabilidad_mutacion" value="0.01" type="number" class="form-control" id="probabilidad_mutacion" min="0.0001" max="0.9999" step="0.0001">
        </div>
        <div class="form-group col-md-2">
            <label for="lambda_cantidad_de_hijos"><b>Cantidad de hijos (&lambda;)</b></label>
            <input name="lambda_cantidad_de_hijos" value="100" type="number" class="form-control" id="lambda_cantidad_de_hijos" min="1">
        </div>
        <div class="form-group col-md-3">
            <label for="cantidad_generaciones"><b>Cantidad de generaciones</b></label>
            <input name="cantidad_generaciones" value="500" type="number" class="form-control" id="cantidad_generaciones" min="1">
        </div>
        <div class="form-group col-md-3">
            <label for="cantidad_ejecuciones"><b>Cantidad de Ejecuciones</b></label>
            <input name="cantidad_ejecuciones" value="1" type="number" class="form-control" id="cantidad_ejecuciones" min="1">
        </div>
    </div>
</fieldset>


<script>
    $("#container_enviar").removeAttr("hidden")
</script>